.not-front .main-content,
.front .main-content {
  @include rem(margin-top, 47px);
  @include rem(padding-left, 31px);
  @include rem(padding-top, 29px);
}

.main-content > h1 {
  @include rem(font-size, 27px);
  @include rem(line-height, 35px);
  @include rem(padding-bottom, 24px);
  color: color(text);
  font-family: $main-font;
  font-weight: $bold;
}

.side-block-rubric {
  @include rem(margin-bottom, 30px);
  @include rem(padding, 31px 30px 41px 30px);
  background-color: #fff;
}

.side-block-rubric h2 {
  @include rem(font-size, 21px);
  @include rem(line-height, 33px);
  color: color(text);
  font-family: $main-font;
  font-weight: $bold;
}

.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

.side-block-menu .menu .leaf a {
  @include rem(font-size, 21px);
  @include rem(line-height, 33px);
  @include rem(padding-bottom, 2px);
  border-bottom: 1px solid silver;
  color: color(text);
  display: block;
  font-weight: $normal;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid color(borderColorHover);
    color: color(textColorHover);
  }
}
