.not-front .main-content,
.front .main-content {
  padding-top: 29px;
  padding-left: 31px;
  margin-top: 47px;
}

.main-content > h1 {
  color: color(text);
  font-family: $main-font;
  font-size: 27px;
  font-weight: $bold;
  line-height: 35px;
  padding-bottom: 24px;
}

.side-block-rubric {
  background-color: #fff;
  padding: 31px 30px 41px 30px;
  margin-bottom: 30px;
}

.side-block-rubric h2 {
  color: color(text);
  font-family: $main-font;
  font-size: 21px;
  font-weight: $bold;
  line-height: 33px;
}

.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

.side-block-menu .menu .leaf a {
  border-bottom: 1px solid silver;
  color: color(text);
  display: block;
  font-size: 21px;
  font-weight: $normal;
  line-height: 33px;
  padding-bottom: 2px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid color(borderColorHover);
    color: color(textColorHover);
  }
}
