.pane-title {
  @include rem(font-size, 27px);
  @include rem(line-height, 35px);
  @include rem(margin-bottom, 25px);
  font-family: $main-font;
  font-weight: $bold;
}

.pane-content {
  @include rem(font-size, 16px);
  @include rem(margin-bottom, 50px);
}

.field-name-field-block-text .even p:first-of-type {
  @include rem(font-size, 16px);
  @include rem(line-height, 26px);
  @include rem(margin-bottom, 30px);
  font-family: $main-font;
}
