.pane-title {
  @include rem(font-size, 16px);
  @include rem(line-height, 16px);
  @include rem(margin-bottom, 18px);
  font-family: $main-font;
  font-weight: $bold;
}

.pane-content {
  @include rem(margin-bottom, 22px);
}

.field-name-field-block-text .even p:first-of-type {
  @include rem(font-size, 16px);
  @include rem(line-height, 23px);
  @include rem(margin-bottom, 17px);
  font-family: $main-font;
  font-wieght: $normal;
}
