.copyright {
  color: #303031;
  font-size: 16px;
  font-weight: $normal;
  line-height: 23px;

  .content a {
    color: #29a693;
    font-size: 16px;
    font-weight: $normal;
    line-height: 28px;
    text-decoration: underline;
  }
}

