.copyright {
  @include rem(font-size, 16px);
  @include rem(line-height, 23px);
  color: #303031;
  font-weight: $normal;

  .content a {
    @include rem(font-size, 16px);
    @include rem(line-height, 28px);
    color: color(colorForLink);
    font-weight: $normal;
    text-decoration: underline;
  }
}

@include breakpoint($md) {
  .copyright {
    float: left;
  }
}
