.header{
  background: #fff;
  min-height: 91px;
  padding-top: 25px;
  padding-bottom: 26px;

  .header-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .region-header {
    display: flex;
    width: 70%;
  }
}
