.heart-block {
  @include rem(font-size, 16px);
  @include rem(line-height, 21px);
  color: #303031;
  font-weight: $normal;

  .heart {
    @include rem(font-size, 0px);
    @include rem(height, 15px);
    @include rem(width, 15px);
    background: url('../images/icons/heart.png') no-repeat center;
    display: inline-block;
  }
  .content a {
    @include rem(font-size, 16px);
    @include rem(line-height, 23px);
    color: #29a693;
    font-weight: $normal;
    text-decoration: underline;
    text-align: center;
  }
}
