.main-menu {
  .menu {
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  @include rem(margin-right, 23px);
  color: color(text);
  margin-left: auto;
  display: none;

    a {
      @include rem(font-size, 17px);
      @include rem(line-height, 24px);
      @include rem(padding, 10px 17px);
      border: 1px solid transparent;
      color: color(text);
      display: block;
      font-family: $main-font;
      font-weight: $normal;
      text-align: center;
      text-decoration: none;

      &:hover {
        border: 1px solid color(borderColorHover);
        color: color(linkHover);
        text-align: center;
      }
    }

    .collapsed,
    .expanded,
    .leaf {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
    }

    .active-trail {
      position: relative;

      > .menu {
        @include rem(padding, 5px);
        @include rem(top, 45px);
        @include rem(width, 200px);
        background: color(backgroundColor);
        border: 1px solid color(borderBtn);
        left: 0;
        position: absolute;
        z-index: 999;
      }
    }

    .active-trail:last-of-type {
      > .menu {
        left: auto;
        right: 0;
      }
    }

    .active-trail > .menu {
      display: none;
    }

    .active-trail:hover {
      > .menu {
        @include rem(margin-bottom, 10px);
        display: block;
        }
    }
  }
}

@include breakpoint($md) {
  .header-inner .menu {
    display: flex;
    flex-wrap: wrap;
  }
}
