.header{
  @include rem(margin-bottom, 16px);
  background: white;

  .header-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .region-header {
    display: flex;
    margin-left: auto;
  }
}
