.header{
  @include rem(min-height, 91px);
  @include rem(padding-bottom, 26px);
  @include rem(padding-top, 25px);
  background: #fff;

  .header-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .region-header {
    display: flex;
    width: 70%;
  }
}
