.heart-block {
  color: #303031;
  font-size: 16px;
  font-weight: $normal;
  line-height: 21px;

  .heart {
    background: url('../images/icons/heart.png') no-repeat center;
    font-size: 0px;
    display: inline-block;
    height: 15px;
    width: 15px;
  }
    .content a {
      color: #29a693;
      float: right;
      font-size: 16px;
      font-weight: $normal;
      line-height: 23px;
      text-decoration: underline;
    }
}
