.view-blog {
  .views-row {
    margin-bottom: 55px;

      &:last-of-type {
        margin-bottom: 0;
      }
   }

  .view-content {
    @include rem(margin-bottom, 36px);
  }

  .field-name-title a {
    @include rem(font-size, 19px);
    @include rem(line-height, 15px);
    color: color(colorForLink);
    font-weight: $bold;
    text-decoration: underline;
  }

  .field-name-node-link a {
    @include rem(font-size, 18px);
    @include rem(line-height, 27px);
    @include rem(margin-top, 19px);
    @include rem(padding, 8px 21px);
    background-color: color(bgColorLink);
    border: 1px solid color(borderBtn);
    color: color(buttonText);
    display: inline-block;
    font-weight: $light;
    text-decoration: none;
  }

  .group-left {
    @include rem(margin-bottom, 14px);
  }

  .group-wrapper .fieldset-wrapper {
    @include rem(margin-top, 21px);
  }

  .field-name-field-blog-categories {
    background-color: black;
    border: 1px solid black;
    color: #fff;
    position: absolute;
  }

  .field-name-count-view,
  .field-name-post-date {
    @include rem(margin-right, 17px);
    @include rem(margin-bottom, 24px);
    @include rem(padding-left, 18px);
    float: left;
    position: relative;

      &:before {
        @include rem(height, 14px);
        @include rem(width, 14px);
        background-size: contain;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
      }
    }

  .field-name-post-date:before {
    background: url('../images/icons/calendar.png') no-repeat center;
  }

  .field-name-count-view:before {
    background: url('../images/icons/views.png') no-repeat center;
  }

  .field-name-body {
    clear: left;
  }

  .all-articles a {
    @include rem(font-size, 18px);
    @include rem(line-height, 20px);
    color: color(colorForLink);
    font-weight: $normal;
    text-decoration: underline;
  }
}
