.view-blog {
  .views-row {
    @include rem(margin-bottom, 55px);

      &:last-of-type {
        margin-bottom: 0;
      }
   }

  .view-content {
    @include rem(margin-bottom, 36px);
  }

  .field-name-title a {
    @include rem(font-size, 19px);
    @include rem(line-height, 15px);
    color: color(colorForLink);
    font-weight: $bold;
    text-decoration: underline;
  }

  .field-name-node-link a {
    @include rem(font-size, 18px);
    @include rem(line-height, 27px);
    @include rem(margin-top, 19px);
    @include rem(padding, 8px 21px);
    background-color: color(bgColorLink);
    border: 1px solid color(borderBtn);
    color: color(buttonText);
    display: inline-block;
    font-weight: $light;
    text-decoration: none;
  }

  .group-left {
    width: 100%;
  }

  .group-header{
    @include rem(margin-bottom, 21px);
  }

  .group-middle,
  .field-name-body {
    clear: both;
    width: 100% !important;
  }

  .field-name-field-blog-categories {
    background-color: black;
    border: 1px solid black;
    color: color(buttonText);
    position: absolute;
  }

  .field-name-count-view,
  .field-name-post-date {
    @include rem(margin-bottom, 24px);
    @include rem(margin-right, 17px);
    @include rem(margin-top, 21px);
    @include rem(padding-left, 18px);
    float: left;
    position: relative;

      &:before {
        @include rem(height, 14px);
        @include rem(width, 14px);
        background-size: contain;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
      }
    }

  .field-name-post-date:before {
    background: url('../images/icons/calendar.png') no-repeat center;
  }

  .field-name-count-view:before {
    background: url('../images/icons/views.png') no-repeat center;
  }

  .all-articles a {
    @include rem(font-size, 18px);
    @include rem(line-height, 20px);
    color: color(colorForLink);
    font-weight: $normal;
    text-decoration: underline;
  }
}

@include breakpoint($sm) {
  .view-blog {
    .views-row > .view-blog {
      display: flex;
      @include rem(padding-top, 50px);
      position: relative;
    }

    .group-wrapper2 {
      position: static;
    }

    .group-header {
      position: absolute;
      top: 0;
      left: 0;
    }

    .field-name-node-link {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .field-name-body {
      p {
        @include rem(font-size, 16px);
        @include rem(line-height, 23px);
        font-weight: $normal;
      }
    }

    .group-middle {
      clear: none;
      width: 60% !important;
      float: right;
      @include rem(padding-bottom, 50px);
      position: relative;
    }

    .group-left {
      @include rem(width, 237px);
      float: left;
      @include rem(margin-right, 26px);
    }

    .field-name-count-view,
    .field-name-post-date {
      @include rem(margin-top, 0);
    }
  }
}

@include breakpoint($lg) {
  .view-blog {

    .group-middle {
      width: 68% !important;
    }
  }
}
