.breadcrumb .inline,
.breadcrumb a {
  color: #777;
}

.node-type-webform h1 {
  color: color(text);
  font-size: 27px;
  font-weight: $bold;
  line-height: 35px;
  padding-left: 53px;
  padding-top: 28px;
}

.node-webform {
  padding: 28px 33px 50px 53px;

  .field-name-field-before-text span {
    color: color(text);
    font-size: 16px;
    font-weight: $normal;
    line-height: 26px;
  }

  .webform-component--first-col input,
  .webform-component--second-col input {
    height: 40px;
    padding-left: 16px;
    width: 240px;
  }

  .webform-component--first-col input:focus,
  .webform-component--second-col input:focus {
    border: 1px solid color(borderInput);
  }

  .webform-component--first-col {
    margin-right: 29px;
  }

  .webform-component--second-col {
    margin-right: 61px;
  }

  .webform-client-form-28 > div {
    display: flex;
  }

  .form-actions .button-primary {
    background-color: color(bgColorBtn);
    border: 1px solid color(borderBtn);
    color: #fff;
    padding-left: 0;

    &:hover {
      background-color: color(bgColorHover);
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
  }

.field-name-field-field-after-text {
  font-size: 16px;
  font-weight: $normal;
  line-height: 26px;

    .field-label {
      font-size: 0px;
    }
  }
}
