.group-banner-link {
  display: block;
  position: relative;

  .field-name-field-field-banner-photo-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .5s ease-in-out;
  }

  &:hover {

    .field-name-field-banner-photo {
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    .field-name-field-field-banner-photo-hover {
      opacity: 1;
      transition: all .5s ease-in-out;
    }
  }
}

.side-block-reg {
  margin-bottom: 30px;
}
