.side-block-account {
  @include rem(margin-top, 17px);
  @include rem(padding, 10px);
  background-color: #fff;
  text-align: center;

  .field-name-field-pd-image > .field-items > .field-item {
    @include rem(height, 138px);
    @include rem(width, 138px);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    > img {
      border-radius: 50%;
    }
  }

  .field-name-field-pd-name-and-last-name {

    .even {
      @include rem(font-size, 21px);
      @include rem(line-height, 20px);
      @include rem(padding-bottom, 13px);
      @include rem(padding-top, 17px);
      color: black;
      font-weight: $normal;
    }
  }

  .field-name-field-pd-email a {
    color: color(text);
    text-decoration: none;
    }

  .field-name-field-pd-status .field-item,
  .field-name-field-pd-phone .field-item,
  .field-name-field-pd-email a {
    @include rem(font-size, 15px);
    @include rem(line-height, 23px);
    color: color(text);
    font-weight: $normal;
  }

  .field-name-field-pd-social-links {
    @include rem(margin-bottom, 20px);
    @include rem(margin-top, 16px);

    .field-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .field-item {
      @include rem(margin-right, 4px);

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      @include rem(height, 31px);
      @include rem(width, 31px);
      display: block;
      font-size: 0;
    }

    [href*="vk.com"] {
      background: url('../images/icons/vk.png') no-repeat;
    }

    [href*="instagram.com"] {
      background: url('../images/icons/instagram.png') no-repeat;
    }

    [href*="ok.ru"] {
      background: url('../images/icons/ok.png') no-repeat;
    }

    [href*="youtube.com"] {
      background: url('../images/icons/youtube.png') no-repeat;
    }
  }

  .field-name-field-pd-btn a {
    @include rem(min-height, 44px);
    @include rem(min-width, 180px);
    @include rem(padding, 5px);
    align-items: center;
    background-color: color(bgColorLink);
    border: 1px solid #29a693;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    width: 67%;
  }
}
