.page-blog .main-content > h1,
.side-block-rubric > h2 {
  color: color(text);
  font-family: $main-font;
  font-weight: $bold;
}

.page-blog .main-content > h1 {
  @include rem(font-size, 27px);
  @include rem(line-height, 35px);
  @include rem(padding-bottom, 24px);
}
